/*
 Theme Name:     Firehaus Child
 Theme URI:      https://codex.wordpress.org/Child_Themes
 Description:    FirehausChild Theme
 Author:         the WordPress team
 Author URI:     https://wordpress.org/
 Template:       firehaus
 Version:        1.3
*/


@font-face {
    font-family: 'Grounday';
    src: url('fonts/Grounday.woff2') format('woff2'),
        url('fonts/Grounday.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
 font-family: 'Helvetica' !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Grounday' !important;  
}
header.entry-header.section-inner {
    margin: 0px;
}

body .site-header {
    background: #474f59;
    width: 260px;
    padding: 25px 30px;
}
body .no-margin {
        margin-bottom: 0 !important;
}
body .social-menu.desktop {
    background: #474f59;
    padding:30px;
}
body .site-header .navbar-brand img {
    height: 100px;
}
body .menu-wrapper {
    margin-top: 35px;
}
body .main-menu li {
    margin-bottom: 40px;
}
body .main-menu li img {
    display: inline-block;
    height: 25px;
    padding-right: 6px;
    width: 25px;
    vertical-align: middle;
    object-fit: contain;
}
body .main-menu li > a {
    border: none;
    font-size: 16px;
}
body .main-menu li > a:hover{
    text-decoration:none;
}
body .section-inner.front_page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
body .social-menu a {
    background: transparent !important;
    border: none;
    width: 20px;
}
.home_social_icon ul.social-menu {
    margin: 0;
    text-align: right;
}
.home_social_icon ul.social-menu li {
    float: none;
    display: inline-block;
    margin: 0;
}
.home_social_icon ul.social-menu li a {
    background: transparent;
    border: none;
    width: 30px;
    height: 30px;
}
.home_social_icon {
    position: absolute;
    right: 0;
    top: 6px;
}
body .top_title h3 {
    margin-top: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
body .section-inner.front_page h2 {
    text-align: center;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 42px;
    margin-top: 80px
}
body .section-inner.front_page h2:before {
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0;
    width: 260px;
    left: 0;
    right: 0;
}
body .section-inner.front_page h2:after {
    content: "";
    border-bottom: 2px solid #fff;
    position: absolute;
    bottom: 0;
    width: 260px;
    right: 0;
}
body .section-inner.front_page p {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 400px;
}
body .home_menu_btn {
    margin-top: 180px;
}
body .home_menu_btn .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    background: #474f59;
    border-color: #474f59;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    min-width: 200px;
    padding: 25px
}
body .section-inner.front_page h2 span.dot {
    position: absolute;
    border: 1px solid #fff;
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    left: 49%;
    top: 52px;
}
.entry-content.section-inner.inner_pages {
    max-width: 100%;
    width:100%;
}
/*.about_section1 {
    margin: 0;
    padding: 0 75px;
}
.our_team {
    margin: 0;
}*/
.container {
    margin: 0 auto !important;
    width: 85%;
}

.inner-title {
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    text-align: center;
}
.inner-title h1.entry-title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 2px;
}
body .inner_pages .about_section1 p {
    margin: 0;
    color: #7e838a;
    font-size: 16px;
}
body .inner_pages .about_section1 span.tagline {
    text-transform: uppercase;
    color: #7e838a;
    font-size: 16px;
}
body .inner_pages .about_section1 h3 {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #474f59;
}
body .inner_pages .our_team_block h3 {
    text-align: center;
    margin-bottom: 6px;
    color: #474f59;
}
body .inner_pages .our_team_block p {
    margin: 0 auto;
    width: 50%;
    font-size: 15px;
    text-align: center;
    color: #7e838a;
}
.our_team {
    padding-left: 260px !important;
}
.our_team .vc_column-inner {
    padding: 0 !important;
}

 .desktop_block {
    display: none !important;
    }
 .mob_block {
    display: block !important;
    }
.featured-image.home_bg img {
    height: 100vh;
    object-fit: cover;
}
.featured-image.home_bg .top_title img {
    height: 50px;
    object-fit: contain;
}
body .widget_container {
    margin: 0;
}
body .about_block1 {
    margin-top: 100px;
    padding-left: 80px;
}
body .inner_pages .about_section1  .about_block_bottom {
    text-align: right;
    padding-left: 80px;
    margin-top: 100px;
    padding-right: 80px;
}
body .inner_pages .about_section1 .about_block_bottom h3 {
    text-align: right;
}
body .inner_pages .about_section1 .about_block_bottom p {
    text-align: right;
}
.full-width-template main .entry-content.section-inner.front_page {
    max-width: 90%;
}
.our_team .wpb_single_image .vc_figure {
    width: 100%;
}
.our_team .wpb_single_image .vc_single_image-wrapper {
    width: 100%;
}
.our_team .wpb_single_image img {
    width: 100%;
 }
body .contact_us {
    margin: 0;
}
.contact_us .contact_left h2 {
    color: #fff;
    font-family: 'Grounday' !important;
    margin: 0;
}
.contact_us .contact_left input.wpcf7-form-control.wpcf7-text {
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 8px 0;
}
.contact_us .contact_left .wpcf7-form-control.wpcf7-textarea {
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 100px;
    padding: 8px 0;
}
.contact_left ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.contact_left ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.contact_left :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.contact_left :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.contact_us .contact_right h2 {
    font-family: 'Grounday' !important;
    margin: 0 0 35px 0
}
.contact_left .vc_column-inner {
    padding: 130px 60px !important;
}
.contact_left {
    height: 100vh;
    background: #a85458;
}
.contact_right {
    height: 100vh;
    background: #d7dadc;
}
body .contact_right .vc_column-inner {
    padding: 128px 60px;
}
body .contact_right .address_padd .vc_column-inner {
    padding: 0 15px;
}
.inner-title .left {
    display: inline-block;
    vertical-align: middle;
}
.inner-title .left h1.entry-title {
    margin-top: 28px;
}
.inner-title .content-title.right {
    display: inline-block !important;
    width: 30%;
    text-align: left;
    vertical-align: middle;
    padding-left: 50px;
    color: #fff;
    line-height: 26px;
    position: relative;
    font-size: 18px;
}
.inner-title .content-title.right:before {
    border-left: 2px solid #fff;
    content: "";
    position: absolute;
    left: 20px;
    height: 100%;
}
.contact_us .contact_left span.wpcf7-not-valid-tip {
    color: #ff0000;
    font-size: 12px;
}
.contact_us .contact_left div.wpcf7-validation-errors, .contact_us .contact_left div.wpcf7-acceptance-missing {
    color: #fff;
    font-size: 15px;
    padding: 12px;
}
.contact_us .contact_left div.wpcf7-validation-errors, .contact_us .contact_left div.wpcf7-mail-sent-ok {
    color: #fff;
    font-size: 15px;
    padding: 12px;
}
.blog_area .blog_boxes .vc_custom_heading {
    margin: 0;
    font-size: 13px;
    color: #474f59;
}
.blog_area .blog_boxes h4 {
    margin: 10px 0 10px 0;
    color: #474f59;
    font-size: 18px;
    text-transform: capitalize;
    height: 40px;
    overflow: hidden;
}
.blog_area .blog_boxes .vc_gitem_row .vc_gitem-col {
    padding: 30px 30px 50px;
    background:#fff;
}
body .team-member .tc_member-col-single {
    margin: 0;
    width: 33.33%;
}
body .team-member .tc_overlay h3 {
    text-align: center;
}
body .team-member .tc_overlay h4.tc_job_role {
    text-align: center;
}
body .team-member .tc_overlay {
    padding-top: 35%;
}
.blog_area .blog_boxes .vc_btn3-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #474f59;
    width: 90%;
}
.blog_area .blog_boxes .vc_btn3-container .vc_btn3.vc_btn3-size-md {
    background: transparent;
    color: #ad5e62;
    box-shadow: none;
    padding: 14px 0px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-weight: 600;
}
.blog_area .blog_boxes p:empty {
    display: none;
}
.blog_area .blog_boxes .vc_grid-item-mini {
    box-shadow: 1px 1px 2px #333;
    -webkit-box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
}
.featured-image img {
    height: 332px;
    object-fit: cover;
}
header.entry-header.section-inner.single-blog {
    margin: 50px auto 0;
}
.section-inner.single_blog_content {
    max-width: 100%;
    width: 75%;
}
header.entry-header.section-inner.single-blog .meta {
    margin-top: 3px;
    margin-bottom: 30px;
}
body .contact_left input.wpcf7-form-control.wpcf7-submit {
    vertical-align: middle;
    height: 50px;
    line-height: 25px;
}

@media (min-width: 1700px){
	body .section-inner.front_page h2 {
    font-size: 60px;
    margin-top: 180px;
	margin-bottom: 50px;
	}
	body .section-inner.front_page h2:before {
    width: 45%;
	}
	body .section-inner.front_page h2:after {
    width: 45%;
	}
	body .section-inner.front_page h2 span.dot {
    top: 74px;
	}
	body .section-inner.front_page p {
    width: 40%;
    font-size: 24px;
	}
	.inner-title .content-title.right {
    width: 25%;
	}
}
	
@media (max-width: 1366px){
	body .home_menu_btn {
    margin-top: 40px;
		}
	}
	
@media (max-width: 1050px){
body {
    padding-left: 260px !important;
 }
.about_block1 {
    margin-top: 15px;
}
body .inner_pages .about_section1 .about_block_bottom {
    padding-left: 0;
    margin-top: 15px;
    padding-right: 50px;
 }
 body .section-inner.front_page h2 {
    margin-top: 0;
}
body .home_menu_btn {
    margin-top: 0;
    margin-bottom: 0;
}
.inner-title {
    top: 60px;
}
body .about_block1 {
    margin-top: 20px;
    padding-left: 40px;
}
.blog_area .blog_boxes .vc_gitem_row .vc_gitem-col {
    padding: 10px;
}
.blog_area .blog_boxes .vc_btn3-container {
    position: static;
}
.featured-image.home_bg .top_title img {
    height: 112px;
}
}
@media(max-width:1000px){

body .mobile-menu-wrapper {
    background: #474f59;
    left: auto;
    z-index: 10000;
    width: 90%;
}
body .mobile-menu-wrapper .social-menu {
    background: #474f59;
}
  .home_social_icon{
     display: none;
     }
    .mob_block {
    display: none !important;
    }
   .desktop_block {
    display: block !important;
    }
.inner-title .content-title.right {
    display: none !important;
}
body .site-header {
    width: 100%;
    }
body .mobile-menu-wrapper{
    padding: 150px 7.5% 0 7.5%;
     }
body {
    padding-left: 0 !important;
 }
.our_team {
    padding-left: 0 !important;
}
.our_team .wpb_content_element {
    margin-bottom: 0;
}
.featured-image.home_bg .top_title img {
    height: 112px;
}
   }

@media(max-width:767px){

    body .site-header {
    width: 100%;
    }
    body .site-header .navbar-brand img {
    height: 40px;
    }
.featured-image .top_title .desktop_block img {
    height: 150px;
    object-fit: contain
}
body.home .featured-image img {
    height: 100vh;
    object-fit: cover;
}
body .section-inner.front_page h2 {
    margin-top: 0;
}
body .section-inner.front_page h2 {
    margin-top: 0;
    font-size: 20px;
}
body .section-inner.front_page h2:before{
         width: 100px;
    }
body .section-inner.front_page h2:after {
    width: 100px;
 }
body .section-inner.front_page h2 span.dot {
    left: 47%;
    top: 26px;
 }
body .section-inner.front_page p {
    width: 100%;
 }
body .home_menu_btn {
    margin-top: 50px;
}
body .home_menu_btn .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    font-size: 30px;
    min-width: 250px;
    padding: 30px;
}
body .inner_pages .about_section1 p {
    text-align: center;
}
body .inner_pages .about_section1 h3 {
    text-align: center;
}
body .inner_pages .our_team p {
    width: 100%;
}
body .our_team .vc_column-inner {
    padding: 0;
}
.inner-title {
    top: 60px;
}
body .home_menu_btn {
    margin-top: 0;
}
.inner-title h1.entry-title {
    font-size: 40px;
}
body .mobile-menu-wrapper {
    padding: 74px 7.5% 0 7.5%;
}
.about_block1 {
    margin-top: 25px;
 }
body .inner_pages .about_section1 .about_block_bottom {
    text-align: center;
    padding-left: 0;
    margin-top: 25px;
    padding-right: 0;
 }
body .inner_pages .about_section1 .about_block_bottom h3 {
    text-align: center;
 }
body .inner_pages .about_section1 .about_block_bottom p {
    text-align: center;
}
body .inner_pages .our_team_block p {
    width: 100%;
}
body .team-member .tc_member-col-single {
    margin: 0;
    width: 100%;
}
body .about_block1 {
    padding-left: 0;
}
.featured-image img {
    height: auto;
}
}


@media(max-width:480px){
.inner-title {
    top: 25px;
}
.inner-title h1.entry-title {
    font-size: 35px;
}
body .contact_left .vc_column-inner {
    padding: 75px 30px!important;
}
body .contact_right .vc_column-inner {
    padding: 75px 30px;
 }
 body .home_menu_btn {
    margin-top: 100px;
}
}


@media(max-width:365px){
.inner-title {
    top: 20px;
}
.inner-title h1.entry-title {
    font-size: 30px;
}

}